#demo
    .minibox
        background-color: #d598c8
        height: 150px
        width: 150px
        margin: 9px
        padding: 8px
        h1
            color: #ffff
    .box1
        position: fixed
        top: 181px
        left: 1300px
    .add
        h2
            font-weight: 500
            font-size: 20px
            width: 400px
            height: 200px